
@import '_icons.scss';
@import '_variables.scss';

body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
}

.header {
  background-color: $gray;
  color: white;
  border-bottom: 2px solid $lightgray2;
  border-top: 2px solid $lightgray2;
  padding: 0;
  text-transform: uppercase; 
  position: relative;
  display: flex;
  align-items: center;
}
.header-tab {
  cursor: pointer;
  width: 33%;
  text-align: center;
  padding: 20px 10px;
  display: inline-block;
  border-bottom: 2px solid $gray;

  &:not(:last-child) {
    border-right: 2px solid white;
  }
  &.active {
    border-bottom: 2px solid red;
  }
}

.favorites-btn {
  position: absolute;
  right: 45px;
  top: 10px;
  @include icon_star_hollow(25px, 25px, $icon_gray);
  transition: .3s;

  &.favorite {
    @include icon_star_filled(25px, 25px, $icon_yellow);
  }
}

.db-loader {
  text-align: center;
  margin: 1em 0;
}

.load-db-btn {
  background-color: desaturate($green, 25);
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: .3s ;
  &:hover {
    background-color: saturate($green, 10);
  }
}

.db-refresh {
  position: absolute;
  @include icon_refresh(30px, 30px, '1a72ab');
  background-size: 70%;
  border-radius: 5px;
  top: 10px;
  left: 10px;
  background-color: #fff;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border: 1px solid $lightgray2;
  width: 400px;
}
th,td {
  padding: 5px 10px;
  border: 1px solid $lightgray2;
}
th {
  background: white;
}
tr:nth-child(even) {
  background-color: transparentize($green, .8);
}

@media (max-width: 468px) {
  .header {
    font-size: 12px;
  }
  .db-refresh {
    opacity: 0.6;
  }
}