
@import '_icons.scss';
@import '_variables.scss';

body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
}

.header {
  background-color: $gray;
  color: white;
  text-align: center;
  border-bottom: 2px solid $lightgray2;
  padding: 15px 0;
  text-transform: uppercase; 
}

.favorites-btn {
  position: absolute;
  right: 45px;
  top: 10px;
  @include icon_star_hollow(25px, 25px, $icon_gray);
  transition: .3s;

  &.favorite {
    @include icon_star_filled(25px, 25px, $icon_yellow);
  }
}

.db-loader {
  text-align: center;
  margin: 1em 0;
}
.load-db-btn {
  background-color: desaturate($green, 25);
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: .3s ;
  &:hover {
    background-color: saturate($green, 10);
  }
}