
@import '_variables.scss';
@import '_icons.scss';

.class-wrapper {
  @include wrapper-block;

  .class-short-info {
    @include short-info-block;

  }

  .class-additional-info {
    display: none;
    padding: 10px 0;
  }

  .open-info-btn {
    @include open-btn;
  }

  .class-spells {
    border: 1px solid $lightgray2;
    border-radius: 5px;

    .info-row {
      @include short-info-block;
    }

    .class-info-title {
      font-weight: bold;
    }
    .description-row {
      padding: 10px 5px;
      min-height: 200px;
      border-top: 1px solid $lightgray2;
    }

    .info-row > .open-info-btn {
      top: 10px;
    }
  }

  .level-wrapper {
    border: 1px solid $lightgray2;
    border-radius: 5px;
    margin-bottom: 5px;

    .spells-list {
      padding: 0 5px;
      border-top: 1px solid $lightgray2;
    }

    .level-short-title {
      font-weight: bold;
    }

    .level-short-info > .open-info-btn {
      top: 10px;
    }
  }
  .level-short-info {
    @include short-info-block;
  }

  .class-magic-info {
    border: 1px solid $lightgray2;
    border-radius: 5px;
    margin-bottom: 10px;

    > .info-row {
      @include short-info-block;
      font-weight: bold;
    }
    > .description-row {
      border-top: 1px solid $lightgray2;
      padding: 5px 15px;
      overflow-y: auto;

      table {
        border-collapse: collapse;
        border: 1px solid $lightgray2;
        width: 400px;
      }
      th,td {
        padding: 5px 10px;
        border: 1px solid $lightgray2;
      }
      th {
        background: white;
      }
      tr:nth-child(even) {
        background-color: transparentize($green, .8);
      }
    }
  }
}



.open-box {
  > .open-box-description {
    display: none;
  }
  &.opened {
    > .open-box-description {
      display: block;
    }
    > .info-row > .open-info-btn {
      transform: rotate(90deg);
    }
  } 
}